*{
margin : 0;
padding : 0;


}
body{


overflow: hidden;

}
.gameContainer{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
}

.dino{

background-image: url(dino.png);
background-repeat: no-repeat;
width: 233px;
height: 170px;
background-size: 100%;
position:absolute;
bottom: 0;
left:10%;
}

.obstacle{

background-image: url(dragon.png);
background-repeat: no-repeat;
width: 153px;
height:140px;
background-size: 100%;
position: absolute;
bottom: 0;
left:60%;


}

.animateDino{
    animation: dino 0.6s linear;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}
.obstacleAni{

    animation: obstacleAni 5s linear infinite  ;
}

.gameOver{
    position: relative;
    top: 63px;
    font-size: 53px;
    background-color:red;
    text-align: center;
    visibility: hidden;
    font-family: sans-serif;


}
#scoreCont
{

    position: relative;
    top: 63px;
    font-size: 53px;
    background-color:yellow;
    text-align: center;
    
    font-family: sans-serif;


}

@keyframes obstacleAni
{
    0%{
        left: 100vw;
    }
   
    100%{
        left : -10vw; 
    }




} 